CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build.ninja
rules.ninja
.ninja_deps
.ninja_log
*.o
*.out
*.objdump
riscv-spec-*.pdf
cpu
